<div class="container-fluid" ng-init="$ctrl.loadStuff()">
        <div class="row center main">
            <!-- Header Banner -->
            <h1 class="col-sm-12 center" style="padding: 2.0em 1.5em 0.8em 1.5em; color: white; font-size: 3.0em;">PLANET API</h1>
            <div class="col-sm-12" style="padding: 1.0em 16.0em 32.0em 16.0em;">
                <div class="input-group">
                  <input type="text" ng-model="$ctrl.galaxyName" class="form-control" placeholder="New Galaxy" aria-label="New Galaxy">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.createGalaxy($ctrl.galaxyName)">Create</button>
                  </span>
                </div>
              </div>

        </div>
        
        <div ng-repeat="g in $ctrl.galaxies">
            <div class="row" style="padding: 1.5em 0.0em;">
                <div class="col-md-6 col-sm-12">

                    <div class="row" style="padding: 10px;">
                        <h3 style="padding: 0px 15px; text-align: center;">{{g.name}}<a style="padding: 0.0em 0.0em 0.0em 0.6em;" ng-click="$ctrl.deleteGalaxy(g.id)"><i class="trashHover fa fa-trash" aria-hidden="true"></i></a></h3>
                    </div>
                    
                    <div class="row" style="padding: 0px 15px;">
                        <input class="col-sm-9 form-control" placeholder="New Name" ng-model="$ctrl.newName[g.id]"/><a style="padding: 0.0em 0.0em 0.0em 0.6em;" ng-click="$ctrl.updateName(g.id, $ctrl.newName[g.id])"><i style="font-size: 2.4em;" class="editHover fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <planet galaxy-id='g.id'></planet>
                </div>
            </div>
            <hr>
        </div>

        
        
</div>