<div class="container-fluid" ng-init="$ctrl.loadStuff()">
        <div class="row">
            <input class="col-sm-9" type="text" class="form-control" ng-model="$ctrl.galaxyName" placeholder="New Galaxy"/>
            <button class="btn btn-primary col-sm-3" ng-click="$ctrl.createGalaxy($ctrl.galaxyName)">Create Galaxy</button>
        </div>
        <hr>
        <div ng-repeat="g in $ctrl.galaxies">
            <div class="row" style="padding: 10px;">
                <h3 style="padding: 0px 15px;">{{g.name}}</h3><button class="btn btn-danger" ng-click="$ctrl.deleteGalaxy(g.id)">Delete</button>
            </div>
            
            <div class="row">
                <input  class="col-sm-9 form-control" placeholder="New Name" ng-model="$ctrl.newName[g.id]"/><button class="col-sm-3 btn btn-warning" ng-click="$ctrl.updateName(g.id, $ctrl.newName[g.id])">Update Name</button>
            </div>

            <planet galaxy-id='g.id'></planet>
        </div>
        
</div>